<table id="user-list">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Returns</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="<%= user.available? ? 'available' : 'unavailable' %> status">&nbsp;</td>
        <td class="name"><%= user.name %></td>
        <td class="return-time details"><%= user.returns %></td>
        <td class="return-message details"><%= user.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
