<script type="text/javascript">

  $(function() {
    $.getJSON('/', function(data) {
      $('#user-list').html($('#user-list-template').render(data));
    });
  });

</script>
<ul id="user-list"></ul>

<script id="user-list-template" type="text/x-jquery-tmpl">
  <li class="user corners">
      <div class='header corners no-bottom-corners 
        {{#if available}} 
          header-available
        {{else}} 
          header-unavailable
        {{/if}}'>
        <span class="status
        {{#if available }} 
          available-status
        {{else}} 
          unavailable-status
        {{/if}}">&nbsp;</span>
        <span class="name">{{=name}}</span>
        <span class="returns">
          {{#if available !== true }} 
           <label>returns </label> {{=returns}}     
          {{/if}}
        </span>
    </div>
    <div class="message"> 
      {{#if available}} 
        <span>In the office!</span>
      {{else}} 
        {{=message}}
      {{/if}}
    </div>
  </li>
</script>