/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
Author: 
========================================================================== */
body {
  font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
  background: url('body-bg.jpg') 0px 0px repeat-x #E6E6E6;
}
#container {
  padding: 10px;
  width: 860px;
  margin: 0 auto;
}

#header {
  padding: 10px;
  overflow: hidden;
  background-color: #EEE;
  line-height: 55px;
}

#header #logo { 
  float: left; 
  margin-left: 10px;
}

#header #logo a {
  color: #07C;
  text-decoration: none;
}

#header #logo span {
  font-size: 1.3em;
  font-weight: bold;
}

#header #main-nav {
  float: right;
  font-size: 1.3em;
}

#header #main-nav ul {
  list-style: none;:
  overflow: hidden;
  margin: 0px 10px 0px 0px;
}

#header #main-nav ul li {
  padding: 0px 5px;
  float: left;
}

#header #main-nav ul li a {
  text-decoration: none;
  color: #07C;
  font-weight: bold;
}

#header #main-nav ul li a:hover {
  text-decoration: underline;
}

#footer {
  background-color: #eee;
}
/* buttons */
.login-window input[type="submit"]:hover {
  opacity: 1;
}
.login-window input[type="submit"] {
  color: rgba(0, 0, 0, 0.63);
  font-size: 17px;
  font-weight: bold;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.37);
  background-color: #38ACFF;
  border: 1px solid #2A3F56;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;
  margin: 12px 0 0 4px;
  padding: 1px 15px 0 15px;
  cursor: pointer;
  display: block;
  position: relative;
  float: left;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 42px;
  opacity: .9;
  white-space: nowrap;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.login-window input[type="text"], 
.login-window input[type="email"], 
.login-window input[type="password"] {
  font-size: 14px;
  width: 264px;
  padding: 9px 7px 7px;
  background: none !important;
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  color: #777;
  border: solid 1px #BBB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  outline: none !important;
}

.login-window span.logo-only {
  display: block;
  margin: 0 auto;
  width: 55px;
}

.login-window h1 {
  margin: 5px 0 5px 0;
  text-align: center;
  font-size: 18px;
  color: #222;
}

.login-window label {
  display: block;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  font-weight: bold;
  color: #141414 !important;
}
.login-window {
  background: white;
  padding: 30px 30px 60px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #DDD;
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  position: relative;
  width: 280px;
  margin: 100px auto;
}

.login-window a.forgot {
  color: #AAA;
  position: relative;
  top: 20px;
}



/* notices */
.corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.success { border: 1px solid #b3dc7c; background-color: #e8ffca; }
.error { border: 1px solid #ebb1b1; background-color: #ffd6d6; }
.alert, .notice { border: 1px solid #efdc75; background-color: #fff7cb; }
.info { border: 1px solid #afdbee; background-color: #e4f5fd; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

@import "users"
