html, body { height: 100%; }

table#user-list {
  width: 100%;
  font-size: 1.2em;
  color: #666;
  border: 3px solid #e8e8e8;

  th {
    text-align: left; 
    border-bottom: 1px solid gray;
    padding: 10px;
    color: #000;
  }

  td {
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid gray;
  }

  .status {
    width: 30px;
    margin-right:5px;
    display:inline-block;
  }

  .name { 
    width: 175px;

    a {
      color: #666;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }
  }

  .returns {
    width: 150px; 
  }

  .available, .unavailable {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
  }

  .unavailable {
    background-image:url('red-circle.png');
  }

  .available {
    background-image:url('green-circle.png');
  }
}
